extends partials/layout

block content
  section.page-section
    .box
      p 
        | We can't connect to your database, please, verify if the env variable 
        strong NC_MONGO_CONNECT_URL 
        | is configured or if your database is up.