table.table.table-striped.table-hover
  thead
    tr
      th
        span.glyphicon.glyphicon-picture
      th Name
      th Stock
      th Categories
      th Date
      th

  tbody
    each product in data.docs
      tr
        td
        td
          | #{product.title}
        td
          if product.stock.status === 'instock' && product.stock.qty > 0
            span.text-success In Stock
          else
            span.text-muted Out of Stock
        td!= adminCategoriesList(product)
        td
          small= product.status
          br
          small= formatDate(product.createdAt)
        td
          a(href="#").btn.btn-link.btn-sm 
            span.glyphicon.glyphicon-pencil
          a(href="#").btn.btn-link.btn-sm
            span.glyphicon.glyphicon-trash
          a(href="#").btn.btn-link.btn-sm
            span.glyphicon.glyphicon-arrow-right