extends partials/layout

block content
  section.page-section
    .box
      form(action="/nc-admin/install" method="post").form-horizontal.container-fluid
        .row
          h2 Welcome!
          p NodeCommerce is inspired by Wordpress + WooCommerce team. So, we have a simple installation step based on them. Just fill with your informations and get fast an awesome ecommerce platform.

          h3 Informations
          p You can change these informations later.

        .row
          .form-group
            label.col-sm-4.control-label Site Title
            .col-sm-8
              input(name="site_title" type="text" required).form-control

          .form-group
            label.col-sm-4.control-label Site Description
            .col-sm-8
              input(name="site_description" value=configs.description maxlength="160" type="text").form-control

          .form-group
            label.col-sm-4.control-label Username
            .col-sm-8
              input(name="user_login" type="text" required).form-control
              small You will use this username for future logins.

          .form-group
            label.col-sm-4.control-label Password, twice
            .col-sm-8
              input(name="user_password" minlenght="10" type="password").form-control

          .form-group
            label.col-sm-4.control-label
            .col-sm-8
              input(name="user_password_repeat" minlenght="10" type="password").form-control

          .form-group
            label.col-sm-4.control-label E-mail
            .col-sm-8
              input(name="user_email" type="email" placeholder="e.g.: email@example.com").form-control

          .form-group
            label.col-sm-4.control-label Theme
            .col-sm-8
              select(name="theme").form-control
                each theme in themes
                  option(value= theme.folder)= `${theme.name} - ${theme.description}`

          .form-group
            .col-xs-12
              button(type="submit").btn.btn-default.pull-right Install NodeCommerce