extends partials/layout

block vars
  - var title = 'Login'

block content
  section.page-section
    .box.box--small
      form(action="/nc-admin/login" method="post").container-fluid
        .form-group
          label Username
          input(name="username" type="text" required).form-control

        .form-group
          label Password
          input(name="password" type="password" minlength="6" required).form-control

        .clearfix
          a(href="/nc-admin/recover-password").pull-left Lost your password?
          button(type="submit").btn.btn-primary.pull-right Log In
        
          
      