aside#sidebar.sidebar
  ul.nav.nav-pills.nav-stacked
    != adminMenuItem('Home', '/admin/dashboard', 'home')

    != adminMenuDivider()

    != adminMenuItem('Orders', '/admin/dashboard/orders', 'file')
    != adminMenuItem('Products', '/admin/dashboard/products', 'star')
    != adminMenuItem('Coupons', '/admin/dashboard/coupons', 'tags')
    != adminMenuItem('Pages', '/admin/dashboard/pages', 'file')
    != adminMenuItem('Categories', '/admin/dashboard/categories', 'th')
    != adminMenuItem('Media', '/admin/dashboard/media', 'upload')
    != adminMenuItem('Reviews', '/admin/dashboard/reviews', 'comment')
    

    != adminMenuDivider()

    != adminMenuItem('Plugins', '/admin/dashboard/plugins', 'magnet')
    != adminMenuItem('Themes', '/admin/dashboard/themes', 'sunglasses')
    
    != adminMenuDivider()

    != adminMenuItem('Users', '/admin/dashboard/users', 'user')
    != adminMenuItem('Settings', '/admin/dashboard/settings', 'cog')
    != adminMenuItem('Logout', '/admin/logout', 'log-out')