extends ../partials/layout

block vars
  - var pager = true

block content
  header.content-header
    .row
      .col-xs-12.col-sm-6
        h3 Products 
          a(href="/admin/dashboard/products/create").btn.btn-info.btn-xs Add Product

      .col-xs-12.col-sm-6
        form(action="/admin/dashboard/products" method="get").form-inline.pull-right.search-box
          .form-group
            input(type="search" name="title").form-control.input-sm
          
          button(type="submit").btn.btn-default.btn-sm Search Products

  section.content-section.box.box--full
    if data.docs.length
      include products
    else
      include not-found