extends layout.pug

block content
  if is_home()
    h1 Home
  if is_404()
    h1 Not Found
  if is_checkout()
    h1 Checkout
  if is_cart()
    h1 Cart
  if is_page()
    h1 Page
  if is_order()
    h1 Order
  if is_product()
    h1 Product

block footer